.dropdown-auth {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4F2EE8;
}

.modal-auth {
    width: 579px;
    height: 516px;

    background-color: #F6F6F6;

    border: 2px solid #111111;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

    transform: translate(50%, 50%);
}

.form-auth {
    margin-top: 80px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.input-auth {
    height: 64px;
    padding-left: 40px;
    padding-right: 60px;

    border: 2px solid #111111;
    border-radius: 32px;
}